name: "Annotated Text"
scopeName: "source.at"
fileTypes: [
  "at"
  "atxt"
]
patterns: [
  { include: "#header1" }
  { include: "#header2" }
  { include: "#header3" }
  { include: "#header4" }
  { include: "#bold" }
  { include: "#document" }
  { include: "#section" }
  { include: "#annotation_group" }
  { include: "#annotation" }
  { include: "#comment" }
]
repository:
  document:
    patterns: [
      {
        name: "at.document"
        match: "\\{{.*?\\}}"
      }
    ]
  section:
    patterns: [
      {
        name: "at.section"
        match: "\\{[^{]*?\\}"
      }
    ]
  annotation_group:
    patterns: [
      {
        name: "at.annotation_group"
        match: "\\[\\[.*?\\]\\]"
      }
    ]
  annotation:
    patterns: [
      {
        name: "at.annotation"
        match: "\\[[^\\]\\[]*\\]"
      }
    ]
  header1:
    patterns: [
      {
        name: "at.header1"
        match: "#[^#]+?\n"
      }
    ]
  header2:
    patterns: [
      {
        name: "at.header2"
        match: "##[^#]+?\n"
      }
    ]
  header3:
    patterns: [
      {
        name: "at.header3"
        match: "###[^#]+?\n"
      }
    ]
  header4:
    patterns: [
      {
        name: "at.header4"
        match: "####[^#]+?\n"
      }
    ]
  bold:
    patterns: [
      {
        name: "at.bold"
        match: "(?<=\\*\\*).+?(?=\\*\\*)"
      }
    ]
  comment:
    patterns: [
      {
        name: "at.comment"
        match: "(;;).*$\\n?"
      }
    ]
