name: "Annotated Text"
scopeName: "source.at"
fileTypes: [
  "at"
  "atxt"
]
patterns: [
  { include: "#annotation" }
  { include: "#header1" }
  { include: "#header2" }
  { include: "#header3" }
  { include: "#bold" }
  { include: "#comment" }
]
repository:
  annotation:
    patterns: [
      {
        name: "at.annotation"
        match: "\\[.*?\\]"
      }
    ]
  header1:
    patterns: [
      {
        name: "at.header1"
        match: "#[^#]+?\n"
      }
    ]
  header2:
    patterns: [
      {
        name: "at.header2"
        match: "##[^#]+?\n"
      }
    ]
  header3:
    patterns: [
      {
        name: "at.header3"
        match: "###[^#]+?\n"
      }
    ]
  bold:
    patterns: [
      {
        name: "at.bold"
        match: "(?<=\\*\\*).+?(?=\\*\\*)"
      }
    ]
  comment:
    patterns: [
      {
        name: "at.comment"
        match: "(###).*$\\n?"
      }
    ]
