.syntax--tabtree.syntax--subject { font-weight: bold; }
.syntax--tabtree.syntax--subject.syntax--category { }
.syntax--tabtree.syntax--subject.syntax--instance { font-weight: normal; }
.syntax--tabtree.syntax--subject.syntax--supercategory { color: #09c5c8 }
.syntax--tabtree.syntax--predicate, .syntax--tabtree.syntax--predicate_type { font-weight: normal; color: #a626a4; }
.syntax--tabtree.syntax--predicate.syntax--predicate_id { font-weight: normal; color: #DF0DDC; }
.syntax--tabtree.syntax--object.syntax--code { color: #5E13B2; }
.syntax--tabtree.syntax--object.syntax--date { color: #5E13B2; }
.syntax--tabtree.syntax--object.syntax--filesystem_object.syntax--directory { font-weight: bold; color: #3220bd; }
.syntax--tabtree.syntax--object.syntax--filesystem_object.syntax--file { color: #3220bd; }
.syntax--tabtree.syntax--object.syntax--link.syntax--hyperlink { color: #0184bc; text-decoration: underline; }
.syntax--tabtree.syntax--object.syntax--link.syntax--special { color: #5E13B2; }
.syntax--tabtree.syntax--object.syntax--money { color: #e95649; }
.syntax--tabtree.syntax--object.syntax--numeric { color: #3377ff; }
.syntax--tabtree.syntax--object.syntax--old { text-decoration: line-through; font-weight: normal; }
.syntax--tabtree.syntax--object.syntax--percentage { color: #996633; font-weight: bold; }
.syntax--tabtree.syntax--object.syntax--place { color: #986801; }
.syntax--tabtree.syntax--object.syntax--specialword { color: #3651a9; }
.syntax--tabtree.syntax--object.syntax--string { color: #50a14f; }
.syntax--tabtree.syntax--object.syntax--time { color: #5E13B2; }
.syntax--tabtree.syntax--object.syntax--type { font-weight: bold; color: #986801; }
.syntax--tabtree.syntax--suffix.syntax--meta { font-weight: normal; color: #91B3A3; }
